@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --background: 145 100% 95%;
  --foreground: 145 5% 3%;
  --card: 145 50% 90%;
  --card-foreground: 145 5% 10%;
  --popover: 145 100% 95%;
  --popover-foreground: 145 100% 3%;
  --primary: 145 63.2% 49%;
  --primary-foreground: 0 0% 100%;
  --secondary: 145 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 107 30% 85%;
  --muted-foreground: 145 5% 35%;
  --accent: 107 30% 80%;
  --accent-foreground: 145 5% 10%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 145 5% 90%;
  --border: 145 30% 50%;
  --input: 145 30% 18%;
  --ring: 145 63.2% 49%;
  --radius: 0.5rem;
}
.dark {
  --background: 145 50% 5%;
  --foreground: 145 5% 90%;
  --card: 145 50% 3%;
  --card-foreground: 145 5% 90%;
  --popover: 145 50% 5%;
  --popover-foreground: 145 5% 90%;
  --primary: 145 63.2% 49%;
  --primary-foreground: 0 0% 100%;
  --secondary: 145 30% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 107 30% 15%;
  --muted-foreground: 145 5% 60%;
  --accent: 107 30% 15%;
  --accent-foreground: 145 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 145 5% 90%;
  --border: 145 30% 18%;
  --input: 145 30% 18%;
  --ring: 145 63.2% 49%;
  --radius: 0.5rem;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
